@font-face {
  font-family: 'Harry Potter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
}

h1,
button,
#yourHouse {
  font-family: 'Harry Potter Regular';
}

body {
  background-color: #d6d6d6;
  color: #060606;
  font-weight: bold;
  text-align: center;
  transition: 1s;
}

footer {
  width: 3em;
  height: 3em;
  margin: 0 auto;
  text-align: center;
  transition: 1.5s;
}

.house img {
  width: 80%;
  height: 50%;
  margin-top: .25em;
}

footer img {
  width: 80%;
  margin-top: .3em;
}

button {
  width: 4em;
  height: 4em;
  line-height: .7em;
  margin-bottom: 20px;
  transition: 1.5s;
}

.house {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#yourHouse {
  width: 7em;
  transition: .25s;
}

.neuSmall {
  border-radius: 10px;
  background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
  box-shadow: 7px 7px 14px #adadad,
    -7px -7px 14px #ffffff;
}

.neuBig {}

@media (prefers-color-scheme: dark) {
  body {
    color: #dadada;
    background-color: #606060;
  }

  .neuSmall {
    border-radius: 10px;
    background: linear-gradient(145deg, #676767, #565656);
    box-shadow: 7px 7px 14px #4e4e4e,
      -7px -7px 14px #727272;
    color: #dadada;
  }

  button
}