@font-face {
  font-family: 'Harry Potter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
}

body {
  background-color: #d6d6d6;
  color: #060606;
  font-weight: bold;
  text-align: center;
  transition: 1s;
}

h1,
button,
#yourHouse {
  font-family: 'Harry Potter Regular';
}

.header {
  position: relative;
  max-width: 500px;
  margin: 0 auto !important;
  top: 15px;
  transition: .25;
}

h1 {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
  line-height: .7em;
  transition: 1.5s;
}

.house button {
  font-size: .85em;
  width: 4em;
  height: 4em;
}

.house {
  height: 4em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.house img {
  width: 80%;
  max-height: 50%;
  margin-top: .25em;
}

#yourHouse {
  width: 7em;
  transition: .25s;
}

.results {
  position: relative;
  top: 100px;
  margin: 0 auto !important;
  padding: 30px !important;
  min-height: 50px;
  max-width: 250px;
  transition: 1s;
}

.button-container {
  margin: 0 auto;
}

.button-container button {
  height: 3em;
  width: 6em;
  font-size: .95em;
  margin: 5px;
}

#spells,
#characters {
  margin: 0 auto;
  max-width: 550px;
  max-height: 400px;
  overflow: scroll;
}

footer {
  width: 3em;
  height: 3em;
  margin: 0 auto;
  margin-top: 10em;
  text-align: center;
  transition: 1.5s;
}

footer img {
  width: 80%;
  margin-top: .3em;
}

.neuSmall {
  border-radius: 10px;
  color: #515151;
  background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
  box-shadow: 7px 7px 14px #afafaf,
    -7px -7px 14px #fdfdfd;
}

.neuBig {
  margin: 25px;
  padding: 15px;
  border-radius: 45px;
  background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
  box-shadow: 30px 30px 59px #adadad,
    -30px -30px 59px #ffffff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #dadada;
    background-color: #444444;
  }

  .neuSmall {
    color: #dadada;
    background: linear-gradient(145deg, #494949, #3d3d3d);
    box-shadow: 7px 7px 14px #373737,
      -7px -7px 14px #727272;
  }

  .neuBig {
    color: #dadada;
    background: linear-gradient(145deg, #494949, #3d3d3d);
    box-shadow: 30px 30px 59px #373737,
      -30px -30px 59px #515151;
  }

  button
}